%p
  %strong Name:
  = pointcloud.name

%p
  %strong Path:
  = pointcloud.complete_path

%p
  %strong Source:
  = pointcloud.source

%p
  %strong Format:
  = pointcloud.format

%p
  %strong Description:
  = pointcloud.description

%br
%strong Visualize in Slam6D Show Utility
= form_tag slam6d_show_pointcloud_path(pointcloud), :class => "button" do
  .form_row
    = label_tag "Reflectance"
    = check_box_tag "reflectance", "yes", true
  .buttons
    = submit_tag "Show"
