%p
  Name:
  = @pointcloud.name

%p
  Path:
  = @pointcloud.complete_path

%p
  Source:
  = @pointcloud.source

%p
  Format:
  = @pointcloud.format

%p
  Description:
  = @pointcloud.description

%br
= link_to "Slam6D Show", slam6d_show_pointcloud_path(@pointcloud), :class => "button"
= link_to "Scale and Center", scale_and_center_pointcloud_path(@pointcloud), :class => "button"