%h2
  = @model.name
  [
  = link_to @model.google_id, @model.google_link
  ]

.list
  - @model.pointclouds.each do |p|
    .list_row
      .list_cell
        = link_to p.name, p
      .list_cell
        = link_to "Delete", p, :method => :delete
        

%br
%strong Resample Model
= form_tag resample_sketchupmodel_path(@model) do
  .form_row
    = label_tag "Points per Area Unit"
    = text_field_tag "points_per_area", "0.0001"
  .buttons
    = submit_tag "Resample"