<!doctype html>
%html
  %head
    %title Slam6D
    = stylesheet_link_tag :all
    = stylesheet_link_tag "ui-lightness/jquery-ui-1.8.9.custom"
    = javascript_include_tag "lib/jquery-1.4.4.min", "lib/jquery-ui-1.8.9.custom.min"
    = javascript_include_tag :all
    = csrf_meta_tag
  %body
    = render :partial => "shared/nav"
    .content
      = yield
    - if flash[:notice]
      %hr
      .flash_notice= flash[:notice]   